.card-detail {
  display: block ruby;;
  background-color: rgba(128, 128, 128, 0.481);
  width: 50rem;
  height: 40rem;
  text-align: center;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.group-detail {
  display: inline-table;
  margin: 1rem;
  width: 12rem;
  height: 6rem;
}

.group-detail > h3 {
  margin: 12px;
}

.container_detail_img {
  width: 12rem;
  margin-left: 35%;
}
.detail-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.button-back {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 1px 1px 12px #c5c5c5, -3px -3px 12px #ffffff;
  margin: 3rem;
}

.button-delete {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: rgb(247, 36, 36);
  color: white;
  border-radius: 4px;
  margin: 3rem;
  float: right;
}
