.card {
  width: 13vw;
  height: 40vh;
  display: inline-grid;
  margin: 35px;
  border-radius: 20px;
  background: #f5f5f58d;
  position: relative;
  padding: 25px;
}

.card-details {
  display: grid;
  place-content: center;
}

.container_image {
  border-radius: 1.3rem;
  width: 100%;
  height: auto;
  max-width: 100px
}

.container_image img {
  max-width: 100%;
  height: auto;
}


.card-button {
  cursor: pointer;
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
}

.text-types {
  color: rgb(134, 134, 134);
  text-align: center;
  padding-top: 1rem;
}

/*Hover*/
.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}