.form-card {
  background-image: url('./back-ground-form.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: 50%;
  display: table;
}

.title-form {
  text-align: center;
  font-size: 2rem;
  margin-top: 8%;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 10rem 1rem;
}

.input-container {
  background-color: rgba(0, 0, 0, 0.481);
  width: 30rem;
  height: 35rem;
  text-align: center;
  border-radius: 12px;
}

.list-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.481);
  margin: 0 60px 25px;
  flex-direction: column;
  font-family: 'Russo One', sans-serif;
}

.input-group {
  display: inline-table;
  width: 12rem;
  height: 6rem;
}

.type-list {
  display: flex;
  margin-top: 15px;
  font-size: 20px;
}

.type-container {
  display: flex;
  margin: 15px;
  font-size: 25px;
  font-family: 'Concert One', cursive;
}

.delete-button {
  display: flex;
  justify-content: center;
  width: 5rem;
  height: 2rem;
  background-color: rgb(255, 52, 52);
  border: none;
  border-radius: 5px;
  margin-left: 12px;
  padding: 5px;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.form-button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 1px 1px 12px #c5c5c5, -3px -3px 12px #ffffff;
}

.demo {
  display: inline-block;
}

.error {
  color: rgb(255, 49, 49);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.157);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

.modal-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #0056b3;
}
