.input-form {
  font-family: 'Heebo', sans-serif;
  padding: 5px;
  color: aliceblue;
  text-align: center;
  border: 0 !important;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.259);
  margin-bottom: 5px;
}

.form-input-title{
  font-family: 'Concert One', cursive;
  font-size: 22px;
}

.error-form{
  color: rgb(255, 49, 49);
}